.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    margin-left: -20px;
    width: 150px;
    height: 180px;
    @include media_interval($media768, 0) {
      width: auto;
      height: auto;
    }
    svg {
      max-width: 100%;
      path {
        stroke: $orange;
      }
    }
  }

  &__label {
    margin-top: 25px;
    font-size: 28px;
    color: $black;
  }
}