.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 40px 0;
  padding: 30px 30px 30px;
  border: 1px solid $gray;
  border-radius: 15px;
  background-color: $white;
  @include media_interval($media640, 0) {
    padding: 50px 50px 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @include media_interval($media640, 0) {
      flex-direction: row;
      > * {
        width: 48.5%;
      }
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__label {
    position: relative;
    display: block;
    width: 100%;

    &-text {
      position: absolute;
      left: 20px;
      top: 50%;
      display: inline-block;
      padding: 5px;
      transform: translateY(-50%);
      font-size: 14px;
      color: $gray;
      background-color: $white;
      transition: transform $time-transition;
    }
  }

  &__input {
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid $gray;
    border-radius: 10px;

    &:focus {
      + .form__label-text {
        transform: translate(-5px, -40px);
      }
    }

    &:not(:placeholder-shown) {
      + .form__label-text {
        transform: translate(-5px, -40px);
      }
    }

    &::placeholder {
      opacity: 0;
      color: transparent;
    }
  }

  &__error {
    margin-bottom: 20px;
    font-size: 18px;
    color: #ff0000;
  }

  &__button {
    min-width: 120px;
    font-size: 18px;
  }
}