.product {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid $gray;
  border-radius: 10px;

  @media (min-width: 480px) and (max-width: 767px) {
    width: calc(50% - 20px);
  }
  @media (min-width: 767px) {
    width: calc(33.33% - 20px);
  }

  &__thumb {
    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto 0 20px;
    padding-top: 20px;
  }

  &__name {
    padding-right: 7px;
    margin: 5px 0;
  }

  &__price {
    margin: 5px 0;
  }

  &__button {
    margin: 20px auto 0;
  }
}