$gray: #c4c4c4;
$blue: #5362eb;
$dark: #0b1133;
$white: #ffffff;

$time-transition: 0.35s;

$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;