$gray: #c4c4c4;
$blue: #5362eb;
$dark: #0b1133;
$white: #ffffff;
$orange: #fe5f1e;
$black: #232323;
$gray-line: #f6f6f6;

$time-transition: 0.35s;

$media1400: 1400px;
$media1300: 1300px;
$media1250: 1250px;
$media1200: 1200px;
$media1100: 1100px;
$media1024: 1024px;
$media900: 900px;
$media768: 768px;
$media640: 640px;
$media600: 600px;
$media480: 480px;
$media400: 400px;
$media375: 375px;
$media360: 360px;

