@import "assets/scss/variables";
@import "assets/scss/main";
@import "assets/scss/header";
@import "assets/scss/footer";
@import "assets/scss/catalog";
@import "assets/scss/product";

$black: #232323;
$gray-line: #f6f6f6;

.cart {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;

    span {
      display: inline-block;
      margin-left: 7px;
      font-size: 18px;
      color: #b6b6b6;
    }

    span,
    svg,
    path {
      transition: all $time-transition ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }

      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid $gray-line;
    border-radius: 10px;
    background-color: $white;

    &-img {
      display: flex;
      align-items: center;
      margin-right: 20px;

      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }

    &-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 20px;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 150px;

      &-removed {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      strong {
        font-size: 22px;
      }
    }

    &-price {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 200px;
      padding: 0 20px;

      strong {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 35px;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          position: relative;
          width: 11.5px;
          height: 11.5px;
        }

        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

    span {
      font-size: 22px;

      &:last-of-type {
        strong {
          color: $orange;
        }
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      font-size: 32px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      width: 230px;
      margin: 0 auto;
      padding: 12px 0 14px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}