@import "assets/scss/mixins";
@import "assets/scss/variables";
@import "assets/scss/main";
@import "assets/scss/header";
@import "assets/scss/footer";
@import "assets/scss/catalog";
@import "assets/scss/product";
@import "assets/scss/cart";
@import "assets/scss/cart-empty";
